#postsContainer
if posts
    each post in posts
        .container-fluid.posts
            .row.posts-sub-block
                .col-md-2.col-sm-2.col-xs-2
                    img.img-circle.img-responsive(src='http://cdn.business2community.com/wp-content/uploads/2014/04/profile-picture.jpg')
                .col-md-10.col-sm-10.col-xs-10
                    .posts-user-link
                        a(href='/profile/'+post.userId.id) #{post.userId.displayName}
                    .posts-date
                        span #{post.timeago(post.date)}
            .posts-content.posts-sub-block #{post.content}
            .posts-info.posts-sub-block
                .posts-info-item.to-left
                    span.posts-likes-count #{post.likes.length}
                    span  Likes
                .posts-info-item.to-right
                    span.posts-comments-btn #{post.comments.length} Comments
            .posts-func.posts-sub-block
                - if (post.likes.indexOf(user.id) > -1)
                    .posts-func-like.like(data-postid=post.id)
                        span.glyphicon.glyphicon-heart
                        span.posts-like-btn Like
                - else
                    .posts-func-like(data-postid=post.id)
                        span.glyphicon.glyphicon-heart
                        span.posts-like-btn Like
            .posts-comments.posts-sub-block
                if post.comments
                    each comment in post.comments.slice(0, 3)
                        .posts-comment.posts-sub-block
                            a(href='/profile/'+comment.userId.id) #{comment.userId.displayName}
                            span #{comment.content}
                            .posts-comment-date #{comment.timeago(comment.date)}
            if (post.comments.length - 3) > 0
                .posts-comments-more.posts-sub-block
                    a.load-more-comments(href='', data-postid=post.id, data-pagenum='0')
                        span ···
                        span.posts-comments-load-more-left #{post.comments.length - 3}
                        span  more ··
            .posts-add-comment.posts-sub-block
                form(method='post', action='./posts/'+post.id+'/add', class='addCommentForm')
                    textarea.form-control(name='content', placeholder='Leave a comment')
                    input(type='hidden', name='postid', value=post.id)
